<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Student</title>
    <link th:href="@{/studentList.css}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:rgb(245, 241, 247);" href="/">D&L University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li>
                    <span class="btn btn-alert text-white">[[${#request.userPrincipal.principal.username}]]</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/}">Show Student List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/} + ${student.id}">View Student</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/delete/} + ${student.id}">Delete Student</a>
                </li>
                <li class="nav-item active">
                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <button class="btn btn-alert text-white" type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <form class="form-horizontal md-6" method="post" th:action="@{/students/update}" th:object="${student}">
        <input type="text" id="id" th:value="${student.id}" th:field="*{id}" hidden>
        <div class="col-md-3">
            <div class="text-center">
                <img th:if="${student.imgUrl}" th:src="${student.imgUrl}" alt="" class="img-fluid rounded-circle w-60">
                <input id="imgUrl" th:class="form-control" th:type="text" th:field="*{imgUrl}"
                    th:value="${student.imgUrl}">
            </div>
        </div>
        <br><br>
        <div class="col-md-9 personal-info">

            <h3>Personal info</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Name:</label>
                <div class="col-lg-8">
                    <input id="name" th:class="form-control" th:type="text" th:field="*{name}"
                        th:value="${student.name}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Surname:</label>
                <div class="col-lg-8">
                    <input id="surname" th:class="form-control" th:type="text" th:field="*{surname}"
                        th:value="${student.surname}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Date Of Birth:</label>
                <div class="col-lg-8">
                    <input id="dateOfBirth" th:class="form-control" th:type="text" th:field="*{dateOfBirth}"
                        th:value="${student.dateOfBirth}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Faculty</label>
                <div class="col-lg-8">
                    <input id="faculty" th:class="form-control" th:type="text" th:field="*{faculty}"
                        th:value="${student.faculty}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Role</label>
                <div class="col-lg-8">
                    <input id="role" th:class="form-control" th:type="text" th:field="*{role}"
                        th:value="${student.role}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Username</label>
                <div class="col-lg-8">
                    <input id="username" th:class="form-control" th:type="text" th:field="*{username}"
                        th:value="${student.username}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Password</label>
                <div class="col-lg-8">
                    <input id="password" th:class="form-control" th:type="password" th:field="*{password}"
                        th:value="${student.password}" required>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                <button type="button" class="btn btn-default" th:onClick="history.back()">Cancel</button>
            </div>
        </div>
    </form>
</body>