<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Edit Student</title>
   <link th:href="@{/editUser.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:rgb(245, 241, 247);" href="/">D&L University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

 </nav>


 <div class="col-md-3">
    <div class="text-center">
        <a th:href="${student.id}"></a><img th:if="${student.imgUrl}" th:src="${student.imgUrl}" alt="" class="img-fluid rounded-circle w-60">
      <h6>Upload a different photo...</h6>
      <input type="file" class="form-control">
    </div>
  </div>



<div class="col-md-9 personal-info">
    
    <h3>Personal info</h3>
    
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label">Name:</label>
        <div class="col-lg-8">
          <input th:class="form-control" th:type="text" th:value="${student.name}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Surname:</label>
        <div class="col-lg-8">
          <input th:class="form-control" th:type="text" th:value="${student.surname}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Date Of Birth:</label>
        <div class="col-lg-8">
          <input th:class="form-control" th:type="text" th:value="${student.dateOfBirth}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Role</label>
        <div class="col-lg-8">
          <input th:class="form-control" th:type="text" th:value="${student.role}">
        </div>
      </div>
    </form>

    <div class="text-right mt-3">
        <button type="button" class="btn btn-primary" th:onclick="@{students/edit}">Save changes</button>&nbsp;
        <button type="button" class="btn btn-default" th:onClick="history.back()">Cancel</button>
      </div>
</div>
    </body>