<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Student</title>
    <link th:href="@{/studentList.css}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:rgb(245, 241, 247);" href="/">D&L University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/}">Show Student List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/edit/} + ${student.id}">Edit Student</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/delete/} + ${student.id}">Delete Student</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="form-horizontal" th:object="${student}">
        <div class="col-md-3">
            <div class="text-center">
                <img th:if="${student.imgUrl}" th:src="${student.imgUrl}" alt="" class="img-fluid rounded-circle w-60">
            </div>
        </div>
        <br><br>
        <div class="col-md-9 personal-info">

            <h3>Personal info</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Name:</label>
                <div class="col-lg-8">
                    <input id="name" th:class="form-control" th:value="${student.name}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Surname:</label>
                <div class="col-lg-8">
                    <input id="surname" th:class="form-control" th:value="${student.surname}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Date Of Birth:</label>
                <div class="col-lg-8">
                    <input id="dateOfBirth" th:class="form-control" th:value="${student.dateOfBirth}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Faculty</label>
                <div class="col-lg-8">
                    <input id="faculty" th:class="form-control" th:value="${student.faculty}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Role</label>
                <div class="col-lg-8">
                    <input id="role" th:class="form-control" th:value="${student.role}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Username</label>
                <div class="col-lg-8">
                    <input id="username" th:class="form-control" th:value="${student.username}" readonly>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-default" th:onClick="history.back()">Return</button>
            </div>
        </div>
    </div>
</body>