<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Score</title>
    <link th:href="@{/studentList.css}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:rgb(245, 241, 247);" href="/">D&L University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li>
                    <span class="btn btn-alert text-white">[[${#request.userPrincipal.principal.username}]]</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/}">Show Student List</a>
                </li>
                <li class="nav-item active">
                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <button class="btn btn-alert text-white" type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <form class="form-horizontal md-6" method="post" th:action="@{/scores/update}" th:object="${score}">
        <input type="text" id="score-id" th:value="${score.id}" th:field="*{id}" hidden>

        <div class="col-md-9 personal-info">

            <h3>Edit Score</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Subject</label>
                <div class="col-lg-8">
                    <select th:class="form-control" th:field="*{subject}">
                        <option th:each="subject : ${T(lv.unversityManagementSystem.domain.Subject).values()}"
                            th:value="${subject}" th:text="${subject}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Add score:</label>
                <div class="col-lg-8">
                    <input id="score" th:class="form-control" th:type="text" th:field="*{score}" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Submition date:</label>
                <div class="col-lg-8">
                    <input id="date" th:class="form-control" th:type="text" th:field="*{date}" required>
                </div>
            </div>

            <input type="text" id="id" th:value="${score.student.id}" th:field="*{student}" hidden>
            
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                <button type="button" class="btn btn-default" th:onClick="history.back()">Cancel</button>
            </div>
        </div>
    </form>
</body>