<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Edited Score</title>
    <link th:href="@{/studentList.css}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="color:rgb(245, 241, 247);" href="/">D&L University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ml-auto">
                <li>
                    <span class="btn btn-alert text-white">[[${#request.userPrincipal.principal.username}]]</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/students/}">Show Student List</a>
                </li>
                <li class="nav-item active">
                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <button class="btn btn-alert text-white" type="submit">Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="form-horizontal" th:object="${score}">
        
        <div class="col-md-9 personal-info">

            <h3>Score successfully edited!</h3>

            <div class="form-group">
                <label class="col-lg-3 control-label">Subject:</label>
                <div class="col-lg-8">
                    <input id="subject" th:class="form-control" th:value="${score.subject}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Score:</label>
                <div class="col-lg-8">
                    <input id="score" th:class="form-control" th:value="${score.score}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Submition date:</label>
                <div class="col-lg-8">
                    <input id="date" th:class="form-control" th:value="${score.date}" readonly>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-default"
                    onclick="window.location.href = '/students/';">Return</button>
            </div>
        </div>
    </div>
</body>