body{
  overflow: hidden;
  height: 100%;
  background: #191c22;
  padding: 0;
  margin-top:150px;
}
.lc-block {
  background: #fff;
  border-radius: 2px;
  padding: 45px 30px 30px;
  width: 30%;
  text-align: center;
  position: absolute;
}

.lc-block .form-control {
  text-align: center;
}
.lcb-float {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -30px;
}

.lcb-float i {
  color: #333;
  font-size: 25px;
  line-height: 60px;
}

.lcb-float {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 -10px 19px rgba(0,0,0,.38);
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -30px;
  text-align:center;
}

.cr-alt label {
  position: relative;
  padding-left: 28px;
}
.form-group {
  margin-bottom: 15px;
margin-right: 25px;
}
.c-gray {
  color: #9e9e9e!important;
}
.form-control {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  resize: none;
  box-shadow: 0 0 0 40px transparent!important;
  border-radius: 0;
}
.form-control {
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  
}
.form-control, output {
  font-size: 13px;
  line-height: 1.42857143;
  color: #9e9e9e;
  display: block;
}
.lc-block {
  box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}
.lc-block, .login-content:after {
  vertical-align: middle;
  display: inline-block;

}
.btn:not(.btn-alt) {
  border: 0;
}
/* .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, 
.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1791f2;
  border-color: #0d87e9;
} */
.btn {
  color: #fff;
  background-color: #2196f3;
  border-color: #0d8aee;
}


.bootdey{
  margin:auto;
  width: 40%;
  padding:20px;
}