<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<div style="position: relative; height: 1000px;">
    <div style="position: relative; text-align: center">
        <h1 style="color: white; font-size: 90px"> UNIVERSITY </h1>
    </div>

    <div style="position: relative; color: white; margin-top: 300px; margin-left: 40%; margin-right: 40%; padding: 20px; padding-bottom: 50px; border: solid white 2px; text-align: center">
        <h2>Login as:</h2>
        <a href="/student">student</a><br>
        <a href="/employee">employee</a><br>
        <a href="/admin">admin</a><br>
    </div>
</div>

</body>
</html>