<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<title>Login</title>
	<link href="login.css" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="container bootstrap snippets bootdey">

		<form id="form-validation" name="form-validation"  th:action="@{/authenticateTheUser}" method="POST">
		<div class="lc-block col-md-4 col-md-offset-4 toggled" id="l-login">
			<div class="lcb-float"><i class="fa fa-users"></i></div>
			<div class="form-group">
				<input type="text" class="form-control" th:value="1" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" th:value="1" placeholder="Password">
			</div>
			<div class="clearfix"></div>
			<div>
				<button type="submit" style="font-size: 30px">Log In</button>
			</div>
			<p th:text="${message}" style="color: white"></p>

			<a href="" class="btn btn-block btn-primary btn-float m-t-25">Sign In</a>
		</div>
		</form>

	</div>